<div class="boxy boxy--added-participant col-sm-12">
  <div class="boxy__heading">
    <h4 class="boxy__heading__title">
      {{ 'Forældre' | trans }}
    </h4>
  </div>
  <div class="boxy__body">
    {% for key, parent in container['#list'] %}
      <div class="parent">
        <h5>{{ parent['type_value'] }}: {{ parent['firstName'] }} {{ parent['lastName'] }}</h5>
        {% if parent['email'] %}
          <div>
            {{ parent['email'] }}
          </div>
        {% endif %}
        <div>
          <span>{{ parent['address'] }}</span>
          <span>{{ parent['houseNumber'] }}</span>{% if parent['houseLetter'] %}{{ parent['houseLetter'] }}{% endif %},{% if parent['houseFloor'] %} {{ parent['houseFloor'] }},{% endif %}
          <span> {{ parent['zip'] }} {{ parent['city'] }}</span>
        </div>
        <div class="actions">
          {{ container['control-buttons'][key] }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
