<div class="col-md-12">
  {{ form['left']['type'] }}
</div>
<div class="col-md-6">
  {{ form['left']|without('type') }}
</div>

<div class="col-md-6">
  {{ form['right']['land'] }}
  {{ form['right']['address'] }}

  <div class="row">
    <div class="col-xs-4">
      {{ form['right']['houseNumber'] }}
    </div>
    <div class="col-xs-4">
      {{ form['right']['houseLetter'] }}
    </div>
    <div class="col-xs-4">
      {{ form['right']['houseFloor'] }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      {{ form['right']['zip'] }}
    </div>
    <div class="col-xs-8">
      {{ form['right']['city'] }}
    </div>
  </div>
  {{ form['right']['country'] }}
  {{ form['right']['municipality'] }}
</div>
