<div>
  {{ content.field_parent_first_name }} {{ content.field_parent_last_name }}( {{ content.field_parent_type }})
  {{ content.field_parent_email }}
  {{ content.field_parent_telefon }}
  <b>{{ 'Address' | trans}}: </b>
  {{ content.field_parent_address }}
  {{ content.field_parent_zip }}
  {{ content.field_parent_city }}
  {{ content.field_parent_country }}
  <p></p>
</div>
