<br><br>
<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <b>
        Student:
      </b>
      {{ content.field_vies_first_name.0 }} {{ content.field_vies_last_name.0 }}
      {{ content.group_col_left }}

    </td>
  </tr>
  <tr>
    <td>
      <br><br>{{ content.group_col_right }}
    </td>
  </tr>

  <tr>
    <td>
      <br><br>{{content.group_parents }}
    </td>
  </tr>
</table>
