<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th colspan="3">
      <b>
        {{ content.field_vies_first_name.0 }} {{ content.field_vies_last_name.0 }}
      </b>
    </th>
  </tr>
  <tr>
    <td>
      {{ content.group_col_left }}
    </td>
    <td style="width:10px;">
    </td>
    <td>
      {% if content.field_vies_label.0 or content.field_vies_status.0 %}
        <div>
          {{ content.field_vies_label }}
          {{ content.field_vies_status }}
        </div>
      {% endif %}
      {{ content.group_col_right }}
    </td>
  </tr>
</table>
