{% set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
] %}
<article{{ attributes.addClass(classes) }}>
    <div class="partial__body">
        <div class="vih-price-box">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    {% include '@site/node/vih-subscription-long-course-price.html.twig' %}
                    <div class="partial__body">{{ content.field_vih_lc_payment_terms }}</div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h3 class="sectioned__subheading__title heading-h4">{{ content.field_vih_lc_add_txt_header.0 }}</h3>
                    <div class="partial__body">{{ content.field_vih_lc_add_txt }}</div>
                    <div class="partial__body">{{ content.field_vih_lc_add_txt_link }}</div>
                    <div class="text-center partial__body cta-button partial__body">
                        <a href="{{ url('vih_subscription.long_course_order_create', {'course': node.id}) }}"
                           class="btn btn-primary">
                            {{ "Sign up and choose your subjects" | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
