{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="sectioned sectioned--content">
    <div class="sectioned__inner">
        <div class="container">
            <div id="status_messages"></div>
            <div class="partial">
                <div class="partial__heading">
                    <h2 class="partial__heading__title">
                        {{ "Sign up for @title"|t({ '@title': form['#course']['title'] }) }}
                    </h2>
                </div>
                <div class="partial__body">
                    <p>{{ form['#registration_text'] }}</p>

                    <a href="{{ form['#course']['url'] }}" class="btn btn-default">
                        {{ "Back to course" | trans }}
                    </a>
                </div>
            </div>
            <!-- Begin - participants -->
            {{ form['addedParticipantsContainer'] }}
            <!-- End - participants -->
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {# Participant container START #}
                    <div class="partial">
                      {{ form['newParticipantContainer'] }}
                    </div>

                    {# Options START #}
                    <div class="partial">
                      <div class="partial__body">
                        {{ form['availableOptionsContainer'] }}
                      </div>
                    </div>
                    {# Options END #}
                    {# Participant container END #}

                </div>

                <div class="col-xs-12 col-sm-6">

                    <!-- Begin - price -->
                    {% if not form['price'] %}
                      {% set priceVisibilityClass = 'hidden' %}
                    {% endif %}
                    <div class="boxy boxy--price {{ priceVisibilityClass }}">
                        <div class="boxy__heading">
                            <h4 class="boxy__heading__title">
                                {{ 'Total price' | trans }}
                            </h4>
                        </div>
                        <div class="boxy__body">
                            <div id="vih-course-price">
                              {{ form['price'] }}
                            </div>
                        </div>
                    </div>
                    <!-- End - price -->

                    <!-- Begin - form controls -->
                    <div class="partial partial--form-controls">
                      <div class="partial__body">
                        {{ form['extra_actions'] }}
                      </div>
                    </div>
                    <!-- End - form controls -->
                </div>
            </div>
            <div id="form-bottom-wrapper"{% if  form['#addedParticipants'] %} class="hidden"{% endif %}>
                <hr>

                {{ form['order_comment'] }}

                <hr>

                <fieldset required="required" data-drupal-selector="edit-picture-marketing-consent" class="fieldgroup form-composite required js-form-item form-item js-form-wrapper form-wrapper" id="edit-picture-marketing-consent--wrapper" aria-required="true">
                  <legend>
                    <span class="fieldset-legend js-form-required form-required">{{ 'Consent for pictures and marketing' | trans }}</span>
                  </legend>
                  <div id="edit-picture-marketing-consent--wrapper--description" class="description">{{ 'During your stay we will take pictures and video, which we will share with the participants, and some footage might also be used in digital marketing on our website, social media and printed marketing. Will that be alright with you?' | trans }}</div>
                  <div class="fieldset-wrapper">
                    {{ form['picture_marketing_consent'] }}
                  </div>
                </fieldset>

                <div class="terms_and_conditions">
                  {{ form['terms_and_conditions'] }}
                </div>

                <!-- Begin - form controls -->
                <div class="partial partial--form-controls">
                    <div class="partial__body">
                      {{ form['actions'] }}
                    </div>
                </div>
                <!-- End - form controls -->
            </div>
        </div>
    </div>
</section>


