<div class="all-classes-container">

    {% for delta, radio in radios['#options'] %}
        {# mandatory course slot, that does not have options. Creating some variables #}
        {% if radios[delta] is not defined %}
          {% set buttonClass = 'active disabled' %}
          {% set buttonAttribures = 'disabled' %}
          {% set entityListClass = 'mandatory' %}
        {% endif %}
        <div {{ attributes.addClass('entity-list-advanced', 'entity-list-advanced--class', entityListClass) }}>
            <a class="link-modal" data-toggle="modal" data-target="#class-modal-{{ radios[delta]['#id'] }}">  
                {{ radios['#classes']['radio_selection'][delta] }}
            </a>
            <!-- Begin - action -->
            <div class="entity-list-advanced__action">
                <span class="btn btn-default btn-radio-select {{ buttonClass }}" {{ buttonAttribures }}>
                    {{ radios[delta] }}
                </span>

                <a data-dialog-type="modal"  class="use-ajax btn btn-default" href="{{ path('vih_subscription.vih_cs_classes_modal', {'class': delta}) }}">
                  <span class="icon icon-info-circle"></span>
                </a>

            </div>
            <!-- End - action -->

        </div>
    {% endfor %}

</div>
