<a href="{{ url }}" class="entity-teaser entity-teaser--news element-wrapper-link">
    <div class="entity-teaser__image">
      {{ content.field_vih_image }}
    </div>
    <div class="entity-teaser__heading">
        <h3 class="entity-teaser__heading__title heading-h5">
            {{ label }}
        </h3>
    </div>
    <div class="entity-teaser__body">
        {% if node.field_short_description.value %}
          {# Begin - short description #}
          {{ content.field_short_description }}
          {# End - short description #}
        {% else %}
          {# Begin - body #}
          {% set text = content.body|render %}
          {{ text|striptags }}
          {# End - body #}
        {% endif %}

        {# Begin - published at #}
        <div class="entity-teaser__published-at">
            {{ node.createdTime | date("d-m-Y") }}
        </div>
        {# End - published at #}

    </div>
</a>
